body {
  background: url(pexels-vojtech-okenka-392018.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

.very-specific-design {
  width: 600px;
  height: 450px;
  padding: 50px;
  text-align: center;
  background: white;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, 0,0);
          transform: translate3d(-50%, 0,0);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

.scaleable-wrapper {
  padding: 20px;
  resize: both;
  position: relative;
  height: 400px;
}

.bigred {
  color: red;
  font-size: 5rem;
}

img{
  margin-top: 24px;
  margin-left:-16px;
  width: 90%;
  height: auto;
  z-index: 9;
}

.pant{
  margin-top: 11px;
  margin-left:-41px;
  width: 600px;
  height: 400px;
  z-index: 9;
}


.box {
  position: absolute;
  width: 100%;
  height: 70vh;
 margin-left: -83px;
 margin-top: -74px;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  position: absolute;
  width: 100px;
  font-size: 1em;
  margin-left: -1%;
  margin-top: 1%;
  padding: 10px;
  color: rgb(0, 0, 0);
  border: 2px solid #FF6A00;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#boton-2{
  margin-top: 17%;
}

#boton-3{
  margin-top: 20%;
  margin-top: 37%;
  transform: translateX(-378px);
}
.button:hover {
  background: #FF6A00;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 100%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.pregunta{
  color: #FF6A00;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: larger;
  font-weight: bold;
}

form{
  margin-top: -22px;
  border: #FF6A00;
  text-align: left;
  margin-left: 23px;
}


#w3review{
  outline: none !important;
  border-color: #3B69FA;
}

#w3review:focus { 
  outline: none !important;
  border-color: #3B69FA;
  box-shadow: 0 0 10px #3B69FA;
}

#quiz {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: rgb(54,54,97);
  background: linear-gradient(49deg, rgba(54,54,97,1) 0%, rgba(59,105,250,1) 100%);
  display: none;
  color: #fff;
}

.texto{
  font-size: 2em;
}

#question {
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}
#question h1 {
  margin-top: 0;
  padding-top: 0;
  font-size: 32px;
  margin-bottom: 20px;
  font-size: 4em;
}

#feedback {
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
#feedback h1 {
  font-size: 28px;
  margin-bottom: 10px;
}
#feedback h2 {
  font-size: 20px;
  margin-bottom: 10px;
}